* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
    /* border: 1px solid red; */
}

header {
    color: white;
    background-color: #92ad70;
}

.navlinks {
    text-decoration: none;
    margin-right: 15px;
    color: #92ad70;
}

th {
    padding: 12px;
    background-color: gray;
    color: white;
    width: fit-content;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

form *{
    display: block;
    margin: auto;
    text-align: center;
}

form button {
    background-color: #92ad70;
    border: none;
    border-radius: 5px;
    color: white;
}